<!DOCTYPE html>
{% load static %}
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>LITReview</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <!-- Encadré principal-->
    <div class="page-frame">
        <!-- Barre d'en-tête avec menu -->
        <header class="top-bar">
            <div class="header-center">
                <h1 class="page-title">LITReview</h1>
            </div>
            {% if user.is_authenticated %}
            <nav class="main-menu">
                <a href="{% url 'home' %}">Flux</a>
                <a href="{% url 'ticket_list' %}">Posts</a>
                <a href="{% url 'authentication:subscriptions' %}">Abonnements</a>
                <a href="{% url 'logout' %}" class="logout-link">Se déconnecter</a>
            </nav>
            {% endif %}
        </header>
        <hr class="title-bar"/>
        
        {% block content %}{% endblock content %}
    </div>
</body>
</html>
