{% extends 'base.html' %}

{% block content %}
<div class="connexion-container">
    <div class="signup-block">
        <h2>Inscrivez-vous maintenant</h2>
        <a href="{% url 'signup' %}" class="signup-link">
            <button type="button">S'inscrire</button>
        </a>
    </div>
    <div class="login-block">
        <h2>Connectez-vous</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.username.label_tag }} {{ form.username }}
            {{ form.password.label_tag }} {{ form.password }}
            <button type="submit">Se connecter</button>
        </form>
        {% if message %}<p>{{ message }}</p>{% endif %}
    </div>
</div>
{% endblock content %}
